@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBlue: #1f4e79;
  --secondaryBlue: #00045f;
  --primaryYellow: #fcaa32;
  --secondaryYellow: #ffc700;
}

html {
  scroll-behavior : smooth;
}

body {
  color: var(--secondaryBlue);
  font-family: 'Inter', sans-serif;
}

.color-pB {
  color: var(--primaryBlue);
}

.color-sB {
  color: var(--secondaryBlue);
}

.color-pY {
  color: var(--primaryYellow);
}

.color-sY {
  color: var(--secondaryYellow);
}

/* icons start */
.github, .facebook {
  color: var(--primaryBlue);
  transition: all ease 0.2s;
}

.github:hover,
.facebook:hover {
  color: var(--secondaryYellow);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  border-radius: 50%;
}
/* icons end */

/* desktop navigation bar start */
#box-nav {
  border-bottom: 10px solid red;
  width: 100%;
  position: fixed;
  bottom: 0;
  transform: skewY(-3.48deg);
  margin-bottom: 60px;
}

#line-dv {
  width: calc(1.414 * 200px);
  transform: rotate(45deg);
  transform-origin: top left;
  border-top: 1px solid blue;
  position: absolute;
  top: -2px;
  left: -1px;
  box-sizing: border-box;
}

#border {
  padding-top: 3%;
  padding-bottom: .7%;
  border-bottom: 5px solid var(--primaryYellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: skewY(-3.48deg);
}

#second-border {
  padding-bottom: 3%;
  border-bottom: 5px solid var(--primaryBlue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#content {
  transform: skewY(3.48deg);
}

#nav-home:hover,
#nav-account:hover,
#nav-projects:hover {
  color: var(--secondaryYellow);
}

#nav-about,
#nav-terms {
  font-weight: 300;
}
#nav-about:hover,
#nav-terms:hover {
  border-bottom: 3px solid var(--secondaryYellow);
  font-weight: 500;
}

#about-height {
  line-height: 1.25em;
}
/* desktop navigation end */

/* mobile navigation start */
#mobile-nav {
  background: rgb(254,234,207);
  background: radial-gradient(circle, rgba(254,234,207,0.9808517156862745) 0%, rgba(253,213,151,1) 100%);
}

#logout {
  background-color: rgba(252, 170, 50, 0.7);
}
/* mobile navigation end */

/* form start */
#displayName, #email, #password, #newPassword, #githubVerify {
  border: 1px solid;
  border-color: rgba(31, 78, 121, .5);
}
input, textarea {
  background-color: rgba(178, 202, 224, 0.25);
  font-weight: 400;
}

.form-btn {
  background-color: var(--primaryBlue);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all ease 0.2s;
}

.form-btn:hover {
  background-color: var(--secondaryYellow);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

#register:hover {
  color: var(--primaryBlue);
}
/* login and register form end */

/* card start */
#card-container {
  background-color: rgba(178, 202, 224, 0.25);
}

#card-container:hover {
  background-color: rgba(178, 202, 224, 0.35);
}
/* card end */

/* 404 page start */
.caveman {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
/* 404 page end */

/* account page start */
#delete-btn {
  background-color: #bb0a1e;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all ease 0.2s;
}
/* account page end */

/* profile start */
#friends {
  background-color: rgba(178, 202, 224, 0.25);
}
/* profile end */





